 .u-section-1 {
  min-height: 663px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 699px);
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 57px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 448px;
  height: 304px;
  margin: 80px 48px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 550px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 103px 32px 0;
}

.u-section-1 .u-text-2 {
  margin: 41px 63px 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: normal;
  margin: 87px auto 0 129px;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 593px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 588px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 8px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
    font-size: 2.25rem;
    font-weight: normal;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 685px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 450px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 342px;
    height: 232px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-shape-1 {
    height: 797px;
    margin-top: 349px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1090px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 505px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 224px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}